#grid, #toolbar {
	border: 1px solid black;
}

.tileImage {
	width: 64px;
	height: 64px;
}

.tileImage img {
	width: 64px;
	height: 64px;
}

.gridTile {
	width: 64px;
	height: 64px;
	border: 1px solid black;
	display: inline-block;
}