#grid, #toolbar {
	border: 1px solid black;
}

.tileImage, .toolImage, .tileImage img, .toolImage img  {
	width: 64px;
	height: 64px;
}

#grid {
	display: flex;
	flex-wrap: wrap;

	width: 1202px;
	height: 722px;

	background-color: skyblue;
}

.gridTile {
	width: 40px;
	height: 40px;

	background-size: cover;
}

.row-margin {
	margin-top: 2%;
}

.center-grid {
	display: flex;
	justify-content: center;
}